body {font-family : verdana,arial; text-align : center; margin-left : auto; margin-right : auto; margin-top : 10px;}

A {text-decoration : none; color: blue;}
A:Visited {color: blue;}
A:Active {color: blue;}
A:Hover {text-decoration : underline;}
TD,td  {background-color:#FFFFFF;font-size:75%;} 
p, P {margin-top : 0px;}
h1, H1 {font:normal 55% Arial, Helvetica, sans-serif;text-decoration:none;margin:0px;display:inline;}
h2, H2 {font:normal 120% Verdana, Arial, Helvetica, sans-serif;font-weight: bold; margin:0px;}
.boldU {font-weight: bold; text-decoration: underline;}

.desktop li {margin-bottom:10px;margin-left:15px;}
.lankar li {margin-bottom:10px;margin-left:0px;padding-left:0px;}
.lankar {margin-bottom:10px;margin-left:0px;padding-left:20px;}

#menu a {display:block;padding:5px 10px;}
#menu A:Hover {background-color:#8DCBFA;text-decoration : underline;color:black;}

.coltab td {align:left;padding:2px;}

.meny {font-family : Arial;font-size : 75%;}
.cellmeny {font-size : 80%;}
.topmeny {border-style: solid; border-width:0px;}
.topmenyFnt {font-family : Arial; font-size : 70%; border-style: solid; padding: 1px 8px 1px 1px; border-width:0px;}
.cellHead {background-color: #9D2360; color: white; padding:4px; margin-top:10px;}
.cl {text-align:left;}

.norm  { font-size : 75%;}
.big  {font-size : 150%;}
.small  {font-size : 70%;}
.smallFnt  {font-size : 9px;}
.copyright {margin-top : 0px; font-size : 10px;}


div.spacer {clear: both; font-size: 1px; line-height: 1px;}
div.container {position: relative;margin: 0 auto;width: 860px;text-align: left;}

.workarea {padding: 5px;}

